{% load static %}
<div class="container">
<footer class="footer-flex">
	<div class="footer-flex-item">
	{% include 'social-icons.html' %}
	</div>

	<div class="footer-flex-item">
	<p>Fernfachhochschule Schweiz ©<script>document.write(new Date().getFullYear())</script></p>
	</div>

</footer>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>	

	<!-- Reviews -->
	<script src="https://reviewsonmywebsite.com/js/v2/embed.js?id=6019c18b62403111b66e" type="text/javascript"></script>
	
	<!-- Google site tag -->
	<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-28SP3FC13K');
    </script>

  </body>
</html>