{% extends 'base.html' %}
{% load static %}
{% block title %}Betriebsökonomie mit Vertiefung Digital Business studieren{% endblock %}
{% block meta_description %}Studieren Sie Digital Business im Fernstudium und entwickeln Sie digitale Businessmodelle oder spezialisieren Sie sich auf neue Technologien.{% endblock %}
{% block keywords %}Bachelor of Science in Betriebsökonomie{% endblock %}

{% block content %}


<div class="container-fluid">
<div id="home">

     <!--SENDMAIL Start--> {% if message_vorname %}
     <div class="container-fluid">
      <div id="home"><h2>Die Nachricht wurde gesendet!</h2>
     </div>
      </div>
      {% endif %}

   <!--SENDMAIL End-->
			<h1>International anerkanntes Studium mit Vertiefung Digital Business</h1>
			<p>Der digitale Wandel ist allgegenwärtig: Digitale Transformation und disruptive Geschäftsmodelle, Künstliche Intelligenz, Internet der Dinge, Social Media und digital Leadership. Digitalisierung beeinflusst und verändert die Wirtschaft und ist aus der betriebswirtschaftlichen Praxis nicht mehr wegzudenken.</p>
</div>
</div>

<div class="container">
<div class="videocontainer">
		 <!--Video -->
        <div class="embed-responsive embed-responsive-16by9 video">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-mZxhfxqTS0?autoplay=1&mute=1" allowfullscreen allow="autoplay"></iframe>
        </div>

        <h2>Ein Studium, dass seiner Zeit voraus ist</h2>
        <p>Wählen Sie wie viele erfolgreiche Wirtschaftsfachleute vor Ihnen BSc Betriebsökonomie Digital Business an der FFHS, ein international anerkannter Titel. Dieses Bachelorstudium behandelt Schlüsseltechnologien wie Blockchain und Künstliche Intelligenz. Die Kombination zwischen Betriebsökonomie und Technologie öffnet Ihnen Tür und Tore für eine attraktive Anstellung oder zur Startup-Gründung. Studieren Sie jetzt <b>Betriebsökonomie</b> mit Technologie-Hintergrund an der Fernfachhochschule Schweiz!</p>
        <div id="aufeinenblick">
        <table class="table table-hover">
          <h2>Auf einen Blick</h2>
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Abschluss</th>
              <td>Bachelor of Science in Digital Business (SUPSI in Betriebsökonomie)</td>
            </tr>
            <tr>
              <th scope="row">Beginn</th>
              <td>Erstmals Herbst 2021</td>
            </tr>
            <tr>
              <th scope="row">Dauer</th>
              <td>9 Semester</td>
            </tr>
            <tr>
              <th scope="row">Standorte</th>
              <td>Zürich, Bern, Basel und Brig</td>
            </tr>
            <tr>
              <th scope="row">Studienmodell</th>
              <td>Die Vertiefungsrichtung wird in drei Studienmodellen angeboten<br>
              1. Vor Ort (Standorte Zürich City und Bern City)<br>
              2. Online<br>
              3. Hybrid (Wahlweise vor Ort- und Onlineunterricht)</td>
            </tr>
            <tr>
              <th scope="row">ECTS</th>
              <td>180 ECTS-Credits (1 ECTS entspricht ca. 30 Stunden Aufwand für das Studium)</td>
            </tr>
            <tr>
              <th scope="row">Anmeldeschluss</th>
              <td>31. Mai 2021 (Stand: {{ today }} noch 6 Plätze verfügbar). Diese Seite schauen aktuell <b>{{ zufall }} potentielle Studenten an ({{ now }}).</b></td>
            </tr>
            <tr>
              <th scope="row">Kosten</th>
              <td>CHF 1'817 pro Semester</td>
            </tr>

            <tr>
              <th scope="row">Weiterführende Studiengänge</th>
              <td>MSc Business Administration in Innovation Management</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
		
		<div class="interesseflex">
		<div class="interesseflex-item" id="interesse"><p>Interesse Digital Business zu studieren?
        <i class="fas fa-arrow-circle-right"></i></p>
    	</div>
        <!--Flexitem End--> 
        <!--LEAD FORM Start-->
         <div class="interesseflex-item" id="leadform">
         <h3>Weitere Informationen per E-Mail erhalten!</h3><br>
         <form method="POST" action="{% url 'index' %}">
         {% csrf_token %}               
          
         <div class="row">
	        
            
             <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="vorname" class="form-control" placeholder="Vorname" required="required" data-error="Vorname muss ausgefüllt werden.">
                       <div class="help-block with-errors"></div>
                    </div>
            </div>

            <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" required="required" data-error="Name muss ausgefüllt werden.">
                       <div class="help-block with-errors"></div>
                    </div>
            </div>

            <div class="col-md-6">
               <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="E-Mail" required="required" data-error="Bitte geben Sie eine gültige E-Mail ein.">
                  <div class="help-block with-errors"></div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <input type="text" name="phone" class="form-control" placeholder="Telefon (freiwillig)">
                  <div class="help-block with-errors"></div>
               </div>
            </div>
            <!--<div class="col-md-12">
               <div class="form-group">
                  <input type="text" name="bemerkungen" class="form-control" placeholder="Bemerkungen (freiwillig)">
                  <div class="help-block with-errors"></div>
               </div>
            </div>-->
          </div>
          
          <div class="row">
            <div class="col-md-12">
            	<div class="form-group">
          	           <input type="submit" name="button1" class="btn btn-md btn-send" value="Jetzt absenden">
                </div>
            </div>
          </div>
          </form>
        <!--LEAD FORM End--> 
    	</div><!--Flexitem End--> 
    </div><!--Flexcontainer End--> 
  
  <div class="hochschule-ueberblick flex" id="hochschule">
  <div class="flex-item-hochschule">
  <h2>Die FFHS im Überblick</h2>
  <p>Die Fernfachhochschule Schweiz (FFHS) bietet als eidgenössisch anerkannte Hochschule seit 1998 berufsbegleitende Bachelor- und Master-Studiengänge sowie Weiterbildungen an. Mit über 20 Jahren Erfahrung im Distance Learning ist sie die führende E-Hochschule der Schweiz und eine Alternative für Studierende, die Berufstätigkeit, Familie und Studium kombinieren möchten.</p>
  <p>Die FFHS betreibt vier Standorte in Zürich, Basel, Bern und Brig und beschäftigt 110 Mitarbeitende sowie über 400 Dozierende, die das fachliche Wissen praxisorientiert an die rund 2'400 Studierenden (Stand 2019) vermitteln. In ihren vier Forschungsinstituten betreibt die FFHS gemäss Leistungsauftrag des Bundes anwendungsorientierte Forschung in den Bereichen Web Science, Management & Innovation, Gesundheit sowie E-Learning.</p>
</div>
</div>
	<div class="flex boxen">
		<div class="flex-item">
			<img class="logo img-responsive" alt="Fernfachhochschule Schweiz" src="{% static 'images/logo_ffhs.png' %}">
		</div>

		<div class="flex-item">
			<p>Gesamtschweizerisch anerkannte Fachhochschule</p>
			<p>80% Selbst- bzw. Online-Studium und 20% Präsenzunterricht</p>
			<p>2400 Studierende</p>
			<p>20 Jahre Erfahrung</p>
			<p>Zürich, Bern, Basel oder Brig</p>
		</div>
	</div><!--Flex End--> 

  <div class="bewertungen" data-romw-token="nh68yFvuIkwydxkXtZbDztVOdutlRhyDhqvvHKTcLhDeelyUhg"></div>
  
</div> <!--Container End--> 
		
<div class="container home1 flex" id="home1">
		
		<div class="home1-flex-item">
    <h2>Digital Business: Sichern Sie sich Vorteile gegenüber anderen BSc Absolventen</h2>
		<p>Studieren Sie BSc Betriebsökonomie mit digitaler Ausrichtung. Die Absolventen der Vertiefung Digital Business werden zu ausgewiesenen und gesuchten digitalen Experten ausgebildet, die eine führende Position innerhalb der digitale Transformation einnehmen wollen. Sie übernehmen eine verantwortungsvolle Management-, Leadership-, Beratungs- oder Projektfunktion, in der Sie digitale Projekte und Innovationen erfolgreich entwickeln und umsetzen können. Erwerben Sie eine breite Basis oder spezialisieren Sie sich: Mit dem BSc Betriebskökonomie mit technologischem Hintergrund legen Sie den Grundstein für Ihre Karriere. <b>Neu: Studieren Sie in der virtuellen Klasse!</b></p>
    </div>
    <div class="home1-flex-item-img">
    <img class="img-responsive" alt="Studenten in Vorlesung Digital Business" src="{% static '/images/digital-business-studierende.jpg' %}">
    </div>
     
    </div><!--Container End-->  

    <div class="contact flex">
      <div class="flex-item">
    <h2>Heute noch anmelden und Studienplatz sichern!</h2>
    <p>Nachfolgend melden Sie sich online für einen Studienplatz beim Bachelor of Science Betriebsökonomie in Digital Business an. Halten Sie folgende Informationen bereit: CH-Sozialversicherungsnummer, Lebenslauf, Passfoto und bei Passarelle das HF Diplom. Sie werden nach Eingabe der Grundangaben durch den Online Anmeldeprozess geleitet. Wenn Sie noch kein FFHS Konto besitzen, müssen Sie sich während des Anmeldeprozesses nochmals registrieren. Dazu füllen Sie folgendes Formular aus:</p>
    
     <!--CONTACT FORM Start--> 
     
        <form method="POST" action="{% url 'index' %}">
              {% csrf_token %}               

              <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                      <input id="form_name" type="text" name="name" class="form-control" placeholder="Vorname" required="required" data-error="Firstname is required.">
                      <div class="help-block with-errors"></div>
                     </div>
                  </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <input id="form_lastname" type="text" name="vorname" class="form-control" placeholder="Nachname" required="required" data-error="Lastname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
                 </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input id="form_email" type="email" name="email" class="form-control" placeholder="E-Mail" required="required" data-error="Valid email is required.">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                             <input type="text" name="phone" class="form-control" placeholder="Telefon">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea name="bemerkungen" class="form-control" placeholder="Bemerkungen" required data-error="Bitte eine Eingabe vornehmen"></textarea>
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <input type="submit" name="button2" class="btn btn-warning btn-lg btn-send" value="Jetzt online anmelden">
                          </div>
                        </div>               
        </form> 
        </div><!--CONTACT FORM End-->    
    </div><!--Div contact End--> 
   

   <div class="container-fluid video-bottom">
   <div class="belowvideo">
    <!--Video -->
    <div class="embed-responsive embed-responsive-16by9 belowvideo-element"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Nyy3PBqc79k?autoplay=1&mute=1" allowfullscreen allow="autoplay"></iframe>
        </div>
    </div><!--End Videocontainer -->
  </div><!--End Fluid Container -->
		
{% endblock %}


