{% extends 'base.html' %}
{% load static %}
{% block title %}Betriebsökonomie mit Vertiefung Digital Business studieren{% endblock %}
{% block meta_description %}Studieren Sie Digital Business im Fernstudium und entwickeln Sie digitale Businessmodelle oder spezialisieren Sie sich auf neue Technologien.{% endblock %}
{% block keywords %}Bachelor of Science in Betriebsökonomie{% endblock %}

{% block content %}


<div class="container-fluid bghome-color">
<div class="bghome-size" id="home">
  <div class="inside-home">

     <!--SENDMAIL Start--> {% if message_vorname %}
     <div class="container-fluid">
      <div id="home"><h2>Die Nachricht wurde gesendet!</h2>
     </div>
      </div>
      {% endif %}


   <!--SENDMAIL End-->
			<h1>Washalb ist die digitale Transformation wichtig</h1>
			<p>Populäre Startups und weltverändernde Technologien finden nicht nur im Silicon Valley statt, die Digitalisierung verändert Unternehmen auf der gesamten Welt. Auf dem Arbeitsmarkt werden neue wichtige Funktionen und Jobs geschaffen.<br>Eine sehr interessante Funktion ist der "Digital Transformation Manager", ein strategisch digitaler Fachexperte, der Unternehmen aus ökonomischer Sicht digital transformiert. Das unten vorgestellte Studium Digital Business bildet entsprechende Digitalexperten aus.</p>

      <div class="home-flex">
      <div class="home-flexitem">
      <a href="{% url 'index' %}#digitaltransformationmanager">Mehr zu Digitaler Transformation</a>
      </div>
      <div class="home-flexitem ml-2">
      <a href="{% url 'index' %}#topvideo">Mehr zum Studium</a>
      </div>
      </div>
     
</div><!--end inside-->
</div><!--end bg-home-->
</div><!--end container fluid -->

<div class="container">
<div class="videocontainer">
		 <!--Video -->
        <div class="embed-responsive embed-responsive-16by9 video" id="topvideo">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Kzww0TywqSg?" allowfullscreen allow="autoplay"></iframe>
        </div>
         <div id="bewertungen" class="bewertungen" data-romw-token="nh68yFvuIkwydxkXtZbDztVOdutlRhyDhqvvHKTcLhDeelyUhg"></div>

        <h2>Digital Business studieren: Ein international anerkannter Titel</h2>
        <p>Der digitale Wandel ist nicht nur in der Gesellschaft weit verbreitet. Neuartige Geschäftsmodelle und Künstliche Intelligenz sind aus der Wirtschaft nicht mehr wegzudenken. Die Digitalisierung verändert gerade die ganze Welt, macht es nicht auch Sinn, ein Studium in diesem Bereich anzuschauen? Der hier vorgestellte Studiengang Bachelor of Science Betriebsökonomie SUSPI in Digital Business ist international anerkannt und ergibt bei Abschluss 180 ECTS. ECTS ist ein europäischer Standard für die Übertragung und Akkulumlierung von Studienleistungen. Es macht einen internationalen Vergleich verschiedener Studiengänge möglich und transparent.
        </p>

        <h2>Passt dieses Studium zu mir?</h2>
        <p>Sind Sie aktuell im Bereich Sachbearbeitung, Controlling oder ähnlichem tätig und möchten sich und Ihre Karriere weiterentwickeln. Im gleichen Zuge ein Spezialist für digitale Wirschaftsthemen werden. Dieses BSc Betriebsökonomie Studium lehrt Sie die digitalen Vorgänge in einem Unternehmen und in der Wirtschaft zu verstehen. Es behandelt unter anderem Schlüsseltechnologien wie Blockchain und Künstliche Intelligenz. Die Kombination aus Betriebsökonomie und Technologie öffnet Ihnen Tür und Tore für eine attraktive Anstellung in einem fortschrittlichen Unternehmen. Eigene Geschäftsmodelle zu entwickeln und umzusetzen werden Sie in der Lage sein. Sind Sie eine ehrgeizige Person, die sich von anderen abheben möchte, lesen Sie weiter, Sie sind hier richtig.
        </p>
        <div id="aufeinenblick">
        <table class="table table-hover">
          <h2>Auf einen Blick</h2>
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Abschluss</th>
              <td>Bachelor of Science in Digital Business (SUPSI in Betriebsökonomie)</td>
            </tr>
            <tr>
              <th scope="row">Wahlmodule</th>
              <td>
                <p>Blockchain für Manager (2 ECTS)</p>
                <p>Künstliche Intelligenz für Manager (2 ECTS)</p>
                <p>Web Engineering Basics (2 ECTS)</p>
              </td>
            </tr>          
            <tr>
              <th scope="row">Beginn</th>
              <td>Erstmals Herbst 2021</td>
            </tr>
            <tr>
              <th scope="row">Dauer</th>
              <td>9 Semester</td>
            </tr>
            <tr>
              <th scope="row">Standorte</th>
              <td>Zürich, Bern, Basel und Brig</td>
            </tr>
            <tr>
              <th scope="row">Studienmodell</th>
              <td>Die Vertiefungsrichtung wird in drei Studienmodellen angeboten<br>
              1. Vor Ort (Standorte Zürich City und Bern City)<br>
              2. Online<br>
              3. Hybrid (Wahlweise vor Ort- und Onlineunterricht)</td>
            </tr>
            <tr>
              <th scope="row">ECTS</th>
              <td>180 ECTS-Credits (1 ECTS entspricht ca. 30 Stunden Aufwand für das Studium)</td>
            </tr>
            <tr>
              <th scope="row">Anmeldeschluss</th>
              <td>31. Mai 2021 (Stand: {{ today }} noch 6 Plätze verfügbar). Diese Seite schauen aktuell <b>{{ zufall }} potentielle Studenten an ({{ now }}).</b> <a href="#kontakt" class="btn btn-light btn-sm" value="Jetzt online anmelden">Zur Anmeldung</a></td>
            </tr>
            <tr>
              <th scope="row">Kosten</th>
              <td>CHF 1'817 pro Semester</td>
            </tr>

            <tr>
              <th scope="row">Weiterführende Studiengänge</th>
              <td>MSc Business Administration in Innovation Management</td>
            </tr>
          </tbody>
        </table>
      </div><!-- container aufeinenblick end -->
      <br>

                  <!--Accordion wrapper-->
                  <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingTwo1">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                          aria-expanded="false" aria-controls="collapseTwo1">
                          <h3 class="mb-0">
                          Zulassungsbedingungen <i class="fas fa-angle-down rotate-icon"></i>
                        </h3>
                        </a>
                      </div>

                      <!-- Card body -->
                      <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                        data-parent="#accordionEx1">
                        <div class="card-body">
                        <p>Zum diesem Studium zugelassen sind Personen, die eine der folgenden Voraussetzungen erfüllen</p>
                      <p class="tipp">
                      Berufsmatura<br>
                      Fachmatura *<br>
                      gymnasiale Matura mit einjähriger Berufspraxis *<br>
                      Diplom einer höheren Fachschule (HF) *: individueller Einstieg oder 5. Semester für Betriebswirtschafter HF<br>
                      <small>* im gleichen oder verwandten Gebiet der Studienrichtung (nach Abklärung)</small>
                      </p>
              

                      <p class="tipp"><b style="background-color: var(--yellow);color:var(--darkgrey);text-decoration: underline;">Hinweis:</b> Studieninteressierte mit Abschluss auf tertiärer Stufe* (eidg. Fachausweis, eidg. Diplom) mit mehrjähriger Berufspraxis* oder Personen über 25 Jahre (bei Studiumsbeginn) mit mehrjähriger qualifizierter Berufserfahrung (EFZ) können auch mittels Aufnahmeprüfung direkt zum Studium zugelassen werden. Um sich gezielt auf die Aufnahmeprüfung vorzubereiten, empfehlen wir den Vorbereitungskurs zur Aufnahmeprüfung.</p>

              <p>
              Es werden folgende Eingangskompetenzen auf Niveau Berufsmatura vorausgesetzt:

             <p class="tipp">
              Englisch: Niveau der CEF-Kompetenzstufe B2<br>
              Mathematik: Abgangskompetenzen Mathematik einer Berufsmatura<br>
              Buchhaltung: Abgangskompetenzen Buchhaltung einer Berufsmatura<br>
              Deutsch: Für Studieninteressierte nicht deutscher Muttersprache werden<br>
              Deutschkenntnisse auf dem Niveau der CEF-Kompetenzstufe C1 vorausgesetzt<br>
              Berufstätigkeit: Aufgrund der Praxisorientierung des Studiums wird den Studierenden empfohlen, einer Berufstätigkeit von maximal 80% mit Bezug zur Studienfachrichtung nachzugehen<br>
              </p>


              </p>
              </div>
                      </div>

                    </div>

                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingTwo2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
                          aria-expanded="false" aria-controls="collapseTwo21">
                          <h3 class="mb-0">
                        Aufbau des Studiums <i class="fas fa-angle-down rotate-icon"></i>
                      </h3>
                        </a>
                      </div>

                      <!-- Card body -->
                      <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
                        data-parent="#accordionEx1">
                        <div class="card-body">
                        <h3>Module Übersicht</h3>
                        <p>
                        Das Bachelor-Studium Betriebsökonomie (BSc Business Administration) umfasst 180 ECTS-Credits und setzt sich aus dem Grundstudium (1.- 6. Semester) und einem Vertiefungsstudium
                        (7.- 9. Semester) zusammen.</p>

                        <h4>Modulübersicht Grundstudium 120 ECTS-Credits</h4>
                        <div class="flexmodule-container">
                        <div class="flexmodule-item">
                        <h5>1. Semester</h5>
                        
                        <p>Managementorientierte Betriebswirtschaft</p>
                        <p>Volkswirtschaft I</p>
                        <p>Wirtschaftsrecht I</p>
                        <p>Business English Higher I</p>
                        
                      
                        </div>

                        <div class="flexmodule-item">
                        <h5>2. Semester</h5>
                        
                        <p>Financial Accounting</p>
                        <p>Volkswirtschaft II</p>
                        <p>Wirtschaftsrecht II</p>
                        <p>Business English Higher II</p>
                        
                        </div>

                        </div><!-- flexcontainer end-->

                        <div class="flexmodule-container">

                        <div class="flexmodule-item">
                        <h5>3. Semester</h5>
                        <p>Management Accounting</p>
                        <p>Wirtschaftsmathematik I</p>
                        <p>Organisationsmanagement</p>
                        <p>Quantitative Forschungsmethoden und Statistik I</p>    
                        </div>

                        <div class="flexmodule-item">
                        <h5>4. Semester</h5>
                         
                        <p>Finance I</p>
                        <p>Innovationsmanagement</p>
                        <p>Volkswirtschaft III</p>
                        <p>Quantitative Forschungsmethoden und Statistik II</p>
                       
                        </div>

                        </div><!-- flexcontainer end-->

                        <div class="flexmodule-container">

                        <div class="flexmodule-item">
                        <h5>5. Semester</h5>
                        <p>Beschaffung, Produktion & Logistik</p>
                        <p>Human Resource Management / Corporate Social Responsibility</p>
                        <p>Businessplanung / Präsentations- und Argumentationstraining</p>
                        <p>Marketing</p>
                        
                        </div>

                        <div class="flexmodule-item">
                        <h5>6. Semester</h5>
                        <p>Projektmanagement Grundlagen</p>
                        <p>Strategisches Management /  Business Simulation</p>
                        <p>Mitarbeiterführung (inkl. Kommunikationstraining)</p>
                        <p>Qualitative Forschungsmethoden</p>
                        </div>
                        </div><!-- flexcontainer end-->


                        <br>
                        <h4>Vertiefungsrichtung Digital Business - 60 ECTS-Credits</h4>
                        
                        <div class="flexmodule-vert-container" id="künstlicheintelligenz">
                        <div class="flexmodule-vert-item ">
                        <p>7. Semester
                        <p>Digital Transformation & Digital Business Models (5 ECTS)</p>
                        <p>Grundlagen der Strategiearbeit im Kontext der digitalen Transformation. Grundlagen und Treiber der digitalen Transformation und Industrie 4.0. Digital Future Industries. Relevanz und Tools zur Entwicklung digitaler Geschäftsmodelle. Plattformen und digitale Ökosysteme.</p>

                        <p>Digital Technologies & Trends (5 ECTS)</p>
                        <p>Behandlung neuer Technologien wie Künstliche Intelligenz, IoT, Blockchain, VR und AR, Drohnen sowie Trends wie Kreislaufwirtschaft, Circular Economy, Plattformökonomie.</p>

                        <p>Entre- & Intrapreneurship: Agile Kompetenzen für die digitale Transformation (5 ECTS)</p>
                        <p>Methoden des Lean Denkens und Handelns: Design Thinking, Sprints, Lean Startup, Lean Marketplaces, Schnelles Kundenwachstum.</p>

                        <p>Wissenschaftliches Praxisprojekt I (5 ECTS)</p>
                        <p>Erarbeitung eines wissenschaftlichen</p>Praxisprojekts (I) unter Einbezug der Bedürfnisse des Auftraggebers und der Anwendung der im Studium erlernten Methoden und Ansätze.</p>
                         </div>

                        <div class="flexmodule-vert-item">
                        <p>8. Semester</p>
                        <p>Product & Services Development in the Digital Age (5 ECTS)</p>
                        <p>Digitale Produkt- und Serviceentwicklung: Analyse der Kundenbedürfnisse, Planung und Umsetzung des Produktentwicklungsprozesses, digitale Werkzeuge, Methoden und Prozesse zur Messung des Entwicklungserfolges sowie zur Steigerung der Effektivität.</p>

                        <p>Marketing in the Digital Age (5 ECTS)</p>
                        <p>Marktanalyse und Innovationsmarketing, digitale Marketingstrategien, Marketingmanagement und digitale Transformation im Dienstleistungssektor, digitale Marketingkommunikation inkl. Social Media, Marke 4.0</p>

                        <p>Leadership & Change in the Digital Age (5 ECTS)</p>
                        <p>Innovationsvorhaben- und teams im digitalen Wandel erfolgreich führen: Ansätze des New Work & Corporate Education, Strategien für den Change Prozess, Führung und Kommunikation, Chancen und Herausforderungen einer digitalen Unternehmenskultur, Coaching Tools.</p>

                        <p>Wissenschaftliches Praxisprojekt II (5 ECTS)</p>
                        <p>Erarbeitung eines wissenschaftlichen Praxisprojekts (II) unter Einbezug der Bedürfnisse des Auftraggebers und der Anforderungen der FFHS</p>
                        </div>

                        <div class="flexmodule-vert-item">
                        <p>9. Semester</p>

                        <p>Digital Experience Lab (3 ECTS)</p>
                        <p>Am neuen FFHS-Standort direkt am HB Zürich (Gleisarena) werden Innovationen entwickelt. Vor Ort erarbeiten Studierende disruptive Geschäftsmodelle und erkunden Prototypen für die Welt von morgen: Egal ob programmieren, löten, 3D-Drucken oder digitale Services, im Digital Experience Lab  werden Innovationen erleb- und umsetzbar.</p>

                        <p>Bachelor-Thesis (15 ECTS)</p>

                        <p>Wahlpflichtmodule</p>
                        <p>Im 9. Semester können Sie eines der folgenden drei Wahlmodule wählen.</p>

                        <p>Blockchain für Manager (2 ECTS)</p>
                        <p>Künstliche Intelligenz für Manager (2 ECTS)</p>
                        <p>Web Engineering Basics (2 ECTS)</p>
                        </div>
                         </div><!-- flexcontainer end-->
                                      
                                     
                    </div>
                    </div>
                    <!-- Accordion card -->
                    </div>

                    <!-- Accordion card -->
                    <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingThree31">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                          aria-expanded="false" aria-controls="collapseThree31">
                          <h3 class="mb-0">
                        Weitere Informationen <i class="fas fa-angle-down rotate-icon"></i>
                      </h3>
                        </a>
                      </div>

                      <!-- Card body -->
                      <div id="collapseThree31" class="collapse studienberatung" role="tabpanel" aria-labelledby="headingThree31"
                        data-parent="#accordionEx1">
                        <div class="card-body">
                          <h4>Studienberatung</h4>
                          <p>Die Studienberatung bietet für Studieninteressierte, Studierende und ehemalige Studierende verschiedene Informations- und Beratungsangebote an – kostenlos und unverbindlich.</p>

                          <p>Gerne informieren und beraten wir Sie über die FFHS, das Studienmodell, einzelne Studienangebote und Ihre persönlichen Möglichkeiten (Studienwahl, Zulassungs- und Anrechnungsabklärungen, Einstiegsmöglichkeiten etc.).</p>

                          <p>Je nachdem, wo Sie in Ihrem Entscheidungsprozess stehen bzw. welches Anliegen im Vordergrund steht, empfehlen wir eines der folgende Angebote.</p>




                          <h4>Infoanlässe</h4>
                          <p>Möchten Sie die FFHS und die Funktionsweise unseres Blended Learnings kennen lernen und sich über ein bestimmtes Studienangebot informieren? Bei unseren studiengangsspezifischen Gruppenanlässen profitieren Sie auch von den Fragen und dem Austausch mit anderen Teilnehmenden. Wir freuen uns auf Ihren Besuch bei unseren Infoanlässen. <a href="https://www.ffhs.ch/de/studium/e-learning/infoanlaesse?tx_solr%5Bfilter%5D%5B0%5D=products%3ABSc%20Betriebs%C3%B6konomie&cHash=54c795f14dd1719f9ed40c6d6b162ad1" class="btn btn-sm btn-warning">Zu den Online Infoanlässen</a></p>
                        
                          <h4>Stipendien</h4>
                          <p>Stipendien und Beiträge werden kantonal geregelt. Weitere Unterstützung erhalten Studierende auf Gesuch hin bei privaten Stiftungen.</p>

                          <p>Informationen rund um Ausbildungsbeiträge</p>

                          <p>EDUCA SWISS ist die Schweizerische Stiftung für Bildungsförderung und ­-finanzierung. Wir fördern alle beruflichen Bildungsprojekte, unabhängig von Alter, Qualifikation oder Herkunft. Dank unserem kostenlosen Coaching und der Vermittlung von Bildungsdarlehen zu sozialverträglichen Konditionen helfen wir motivierten Menschen ihr persönliches Berufsziel zu erreichen. Damit ergänzen wir die bestehenden Förder- und Beratungsangebote – gerade für diejenigen, die heute durch Lücken der Bildungsfinanzierung fallen, weil sie keinen ausreichenden Zugang zu Stipendien haben und/oder von ihren Familien nicht unterstützt werden können.</p>

                          <p>www.educaswiss.ch</p>

                          <p>Temptraining bietet subventionierte Weiterbildung für Temporärarbeitende, die dem Gesamtarbeitsvertrag (GAV) Personalverleih unterstehen. Alle GAV teilnehmende Mitgliedsunternehmen finden Sie auf swissstaffing.ch. Unterstützt werden Kurse, die Sie im Beruf weiterbringen und fit für die Zukunft machen. Erfahren Sie, ob Sie Anspruch auf eine Weiterbildung haben, wie sie Ihr Gesuch einreichen und schliesslich Ihr Geld erhalten.</p>

                          <h4>Kontakt</h4>

                          <p>Désirée Guntern Kreuzer
                          Studiengangsleiterin
                          Telefon +41 27 510 38 23</p>


                          <p>Bora Altuncevahir
                          Co-Studiengangsleiter
                          Telefon +41 27 510 38 94</p>


                        </div>
                      </div>

                    </div>
                    <!-- Accordion card -->

                  </div>
                  <!-- Accordion wrapper -->
              </div> <!-- end of videocontainer -->
		
		<div class="interesseflex">
		<div class="interesseflex-item" id="interesse"><p>Unverbindlich Studienbroschüre per E-Mail erhalten?
        <i class="fas fa-arrow-circle-right"></i></p>
    	</div>
        <!--Flexitem End--> 
        <!--LEAD FORM Start-->
         <div class="interesseflex-item" id="leadform">
         <h3>Jetzt Studieninformationen anfordern!</h3><br>
         <form method="POST" action="{% url 'index' %}">
         {% csrf_token %}               
          
         <div class="row">
	        
            
             <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="vorname" class="form-control" placeholder="Vorname" required="required" data-error="Vorname muss ausgefüllt werden.">
                       <div class="help-block with-errors"></div>
                    </div>
            </div>

            <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" required="required" data-error="Name muss ausgefüllt werden.">
                       <div class="help-block with-errors"></div>
                    </div>
            </div>

            <div class="col-md-6">
               <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="E-Mail" required="required" data-error="Bitte geben Sie eine gültige E-Mail ein.">
                  <div class="help-block with-errors"></div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <input type="text" name="phone" class="form-control" placeholder="Telefon (freiwillig)">
                  <div class="help-block with-errors"></div>
               </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
            	<div class="form-group">
          	           <input type="submit" name="button1" class="btn btn-md btn-send" value="Jetzt absenden">
                </div>
            </div>
          </div>
          </form>
        <!--LEAD FORM End--> 
    	</div><!--Flexitem End--> 
    </div><!--Flexcontainer End--> 

    <div class="container">
      <div class="home1 flex" id="vorteile">
        <!-- media start -->
       <div class="media">
        <img class="img-thumbnail d-flex align-self-start mr-3" style="width: 25vw" src="{% static '/images/digital-business-studierende.jpg' %}" alt="Generic placeholder image">
        <div class="media-body">
          <h2 class="mt-0 font-weight-bold">Sichern Sie sich Vorteile gegenüber anderen Bachelor Studenten</h2>
          <p>In diesem Studiengang werden Sie zum Digitalexperten. Es befähigt Sie, eine führende Management Position innerhalb der digitalisierten Arbeitswelt einzunehmen. Unsere Studienabgänger übernehmen verantwortungsvolle Management- und Beratungsfunktion und setzen digitale Innovationen in Projekten um. Durch das Grundstudium erhalten Sie das betriebswirtschaftliche Know-How. Sie lernen digitale Projekte und Innovationen erfolgreich umzusetzen. <b>Entscheiden Sie sich für dieses Studium und legen Sie den Grundstein für eine erfolgreiche Karriere.</b></p>
        </div>
      </div><!-- media end -->
      </div><!-- home1 end -->
      </div><!-- container end -->
  
  <div class="hochschule-ueberblick flex" id="hochschule">
  <div class="flex-item-hochschule">
  <h2>Die FFHS im Überblick</h2>
  <p>Die Fernfachhochschule Schweiz (kurz FFHS) bietet seit 1998 berufsbegleitende Bachelor- und Master-Studiengänge an. Die FFHS ist eine moderne eidgenössisch anerkannte Hochschule. Mit über 20 Jahren Erfahrung im Distance Learning ist sie die führende E-Hochschule der Schweiz. Das ist eine echte Alternative für Studierende, die Berufstätigkeit, Familie und Studium kombinieren möchten.</p>
  <p>Die FFHS betreibt vier Standorte, beschäftigt 110 Mitarbeitende und über 400 Dozierende. Zu finden in Zürich, Basel, Bern und Brig studierten im 2019 ganze 2'400 Studenten ein Fernstudium der FFHS. Der praxisorientierte Ansatz vermittelt das fachliche Wissen nahe am Studenten. Im Leistungsauftrag des Bundes betreibt die FFHS Web-Science, Management und Innovation, Gesundheit und E-Learning. Vor allem bekannt ist die Fachhochschule für anwendungsorientierte Forschung.</p>
</div>
</div>
	<div class="flex boxen">
		<div class="flex-item">
			<img class="logo img-responsive" alt="Fernfachhochschule Schweiz" src="{% static 'images/logo_ffhs.png' %}">
      <br><br>
      <p>Neuer Campus am Zürich HB im 2021!</p>
		</div>

		<div class="flex-item">
			<p>Gesamtschweizerisch anerkannte Fachhochschule</p>
			<p>80% Selbst- bzw. Online-Studium und 20% Präsenzunterricht</p>
			<p>2400 Studierende</p>
			<p>20 Jahre Erfahrung</p>
			<p>Zürich, Bern, Basel oder Brig</p>
		</div>
	</div><!--Flex End--> 

 
  
</div> <!--Container End--> 

<div id="srfvideo" class="container-fluid video-bottom">
   <div class="belowvideo">
    <!--Video -->
    <div class="embed-responsive embed-responsive-16by9 belowvideo-element"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Nyy3PBqc79k?autoplay=1&mute=1" allowfullscreen allow="autoplay"></iframe>
        </div>
        <br>
      <small>Quelle: Schweizer Radio und Fernsehen (SRF)</small>
    </div><!--End Belowvideocontainer -->
  </div><!--End Fluid Container -->
		
      
<!-- Info section start -->
      <div class="container">
      <div class="home1 info flex" id="digitaltransformationmanager">
        <!-- media start -->
       <div class="media">
        <img class="img-thumbnail d-flex align-self-start mr-3" style="width: 25vw" src="{% static '/images/digital-transformation-manager.jpg' %}" alt="Die Aufgaben eines Digital Transformation Manager">
        <div class="media-body">
          <h3 class="mt-0 font-weight-bold">Die Aufgaben eines Digital Transformation Manager</h3>

          <p>Ein Digital Transformation Manager hat eine essentielle und wichtige Aufgabe im Unternehmen. Der Digital Transformation Manager analysiert Technologien und Trends in der Branche und wie sich diese kurz-, mittel- und langfristig auf das Unternehmen direkt oder indirekt auswirken. Gleichermassen wird der Einfluss auf das eigene Unternehmen und die Wertschöpfungskette systematisch durchleuchtet. Die Digitalisierung von Prozessen ist eine wichtige, jedoch nicht die zentrale Aufgabe eines Digital Transformation Managers. 
          <b>Die Hauptaufgabe</b> besteht darin, <b>neue innovative digitale Geschäftsmodelle</b> zu entwickeln um langfristige Wettbewerbsvorteile aufzubauen und dadurch das gesamte Unternehmen strategisch zu transformieren.</p>
      </div>
      </div><!-- media end -->
      </div><!-- home1 end -->
      </div><!-- container end -->


       <div class="container">
      <div class="home1 info flex" id="digitaletransformation">
        <!-- media start -->
       <div class="media">
        <img class="img-thumbnail d-flex align-self-start mr-3" style="width: 25vw" src="{% static '/images/digitale-transformation-bei-unternehmen.jpg' %}" alt="Digitale Transformation bei Unternehmen">
        <div class="media-body">
          <h3 class="mt-0 font-weight-bold">Digitale Transformation bei Unternehmen</h3>
          <p>Neue digitale Technologien im Privat- und Geschäftsleben führen zu neuen Ansprüchen bei Kunden. Die Prozesse in einem Unternehmen müssen mit dem neuen Verhalten der Kunden gleichziehen. Unternehmen müssen in der Lage sein, bewährte Prozesse mit digitalen ablösen zu können. Gelingt dies nicht, können grosse Marktanteile von Jahrzehnte dominierenden Unternehmen schnell verloren gehen. Ein sehr populäres Beispiel ist das Startup "Uber", welches die traditionelle Taxibranche auf den Kopf gestellt hat. Aus diesem Grund benötigen die Unternehmen spezialisierte Wirschaftsfachleute, welche für digitale Projekte eingesetzt werden können. Andere Beispiele für digitale Transformation sind <b><a href="{% url 'index' %}#aufeinenblick">Internet of Things, Künstliche Intelligenz oder Blockchain</a></b>.</p>.
        </div>
      </div><!-- media end -->
      </div><!-- home1 end -->
      </div><!-- container end -->


      <div class="container">
      <div class="home1 info flex" id="lohn">
        <!-- media start -->
       <div class="media">
        <img class="img-thumbnail d-flex align-self-start mr-3" style="width: 25vw" src="{% static '/images/was-fuer-eine-entloehnung-kann-man-erwarten.jpg' %}" alt="Generic placeholder image">
        <div class="media-body">
          <h3 class="mt-0 font-weight-bold">Was für eine Entlöhnung können Sie nach diesem Studium erwarten?</h3>
          <p>Die Funktion eines Digitalen Transformations-Manager wird in der Praxis oftmals auf mehrere Stellen aufgeteilt. Die oberste Instanz nennt sich Chief Digital Officer (kurz CDO). Ein Digital Marketing- oder Projektmanager verdient im Durchschnitt gemäss verschiedenen Quellen einen Brutto-Jahreslohn von CHF 75'000.-- bis CHF 130'000.-- je nach Vorbildung und Unternehmen. Ein Digital Project Manager verdient gemäss dem führenden Schweizer Jobportal rund CHF 91'000.-- durchschnittlich. Führende Branchen in diesem Bereich beispielsweise die Medzinaltechnik zahlen einem Digital Project Manager sogar deutlich über CHF 100'000.--. Als Chief Digital Officer (kurz CDO) werden sogar bereits Summen von über CHF 130'000.-- jährlich angegeben. In grösseren Unternehmen können die Gehälter von CDOs bereits in Richtung einer halben Million gehen.<a href="https://www.jobs.ch/de/lohn/?canton=ch&term=digital%20project%20manager"> Quelle: jobs.ch</a></p>
        </div>
      </div><!-- media end -->
      </div><!-- home1 end -->
      </div><!-- container end -->

      <div class="container">
      <div class="home1 info flex" id="home1">
        <!-- media start -->
       <div class="media" id="digitalbusiness">
        <img class="img-thumbnail d-flex align-self-start mr-3" style="width: 25vw" src="{% static '/images/was-versteht-man-unter-digital-business.jpg' %}" alt="Generic placeholder image">
        <div class="media-body">
          <h3 class="mt-0 font-weight-bold">Was versteht man unter Digital Business?</h3>
          <p>Unter Digital Business versteht man die Entwicklung neuer Geschäftsmodelle sowie die Erschaffung neuer Wertschöpfungsketten indem die digitale und physische Welt ineinander verschmelzen. Die Technologie ist ein Instrument für neue innovative Kundennutzen bestehender Produkte und Dienstleistungen. Das Kerngeschäft eines Unternehmens gewinnt mit neuen Geschäftsmodellen einen entscheidenenden Mehrwert, welcher zu deutlichen Veränderungen auf dem Markt führen wird. Ein Digital Business Manager (oder Digital Transformation Manager) entwickelt innovative digitale Geschäftsmodelle für sein Unternehmen und vermarktet die daraus entstandenen Produkte und Dienstleistungen. <a href="{% url 'index' %}#digitaltransformationmanager">Mehr erfahren</a>.
          </p>
        </div>
      </div><!-- media end -->
      </div><!-- home1 end -->
      </div><!-- container end -->
<!-- Info section end -->


  <div class="container-fluid contact-bg " id="kontakt">
    <div class="contact flex">
      <div class="flex-item">

        <h3>Heute noch anmelden und Studienplatz sichern!</h3>
        <p>Sie werden nach Eingabe der Grundangaben durch den Online Anmeldeprozess geleitet. Wenn Sie noch kein FFHS Konto besitzen, müssen Sie sich während des Anmeldeprozesses nochmals registrieren. Dazu füllen Sie folgendes Formular aus:</p>
    <!--CONTACT FORM Start--> 
        <form method="POST" action="{% url 'index' %}">
              {% csrf_token %}               
              
              <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                      <input id="form_name" type="text" name="name" class="form-control" placeholder="Vorname" required="required" data-error="Firstname is required.">
                      <div class="help-block with-errors"></div>
                     </div>
                  </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <input id="form_lastname" type="text" name="vorname" class="form-control" placeholder="Nachname" required="required" data-error="Lastname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
                 </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input id="form_email" type="email" name="email" class="form-control" placeholder="E-Mail" required="required" data-error="Valid email is required.">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                             <input type="text" name="phone" class="form-control" placeholder="Telefon">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea name="bemerkungen" class="form-control" placeholder="Bemerkungen" required data-error="Bitte eine Eingabe vornehmen"></textarea>
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <!-- Button Anmeldung -->
                          <div class="col-md-12 button-anmeldung">
                            <input type="submit" name="button2" class="btn btn-warning btn-lg btn-send" value="Jetzt online anmelden">
                            
                            <!-- Info zur Anmeldung -->
                            <p><a class="btn " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Informationen zur Anmeldung
                          </a></p>
                          <div class="collapse anmeldung-infos" id="collapseExample">
                          <div class="card card-body">
                            <h4>Dokumente für die Anmeldung bereithalten</h4>
                              <p>Für die obige Anmeldung zum Studium sollten Sie folgende Informationen bereithalten:</p>

                          <ul class="anmeldung-liste">
                          <li>&#9654;  CH-Sozialversicherungsnummer</li>
                          <li>&#9654;  Lebenslauf</li>
                          <li>&#9654;  Passfoto</li>
                          <li>&#9654;  Bisherige Englischdiplome, falls vorhanden</li>
                          <li>&#9654;  Bei Passarelle das HF Diplom</li>
                          </ul>

                      </div><!--toggle --> 
                        </div><!--toggle --> 
                        </div><!--column --> 


                        </div><!--row -->             
        </form> 
        </div><!--CONTACT FORM End-->    
    </div><!--Div contact End--> 
  </div><!--Container Fluid End--> 
              

		
{% endblock %}


