
                  <div class="social">
                    <a titel="facebook link" href="https://de-de.facebook.com/Fernfachhochschule/"><i class="fab fa-facebook"></i></a>
                    <a titel="twitter link" href="https://twitter.com/FFHS"><i class="fab fa-twitter"></i></a>
                    <a titel="link zu linkedin" href="https://www.linkedin.com/school/fernfachhochschule-schweiz/"><i class="fab fa-linkedin"></i></a>
                    <a titel="link zu instagram" href="https://www.instagram.com/myffhs/"><i class="fab fa-instagram"></i></a>
                    <a titel="link zum youtube kanal" href="https://www.youtube.com/channel/UCZhwyOi0hVCCKOkewwCCaVw"><i class="fab fa-youtube"></i></a>
                  </div>
              