@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&family=Raleway:ital,wght@0,200;0,300;1,400&display=swap');

/* ----------------------------------- Main CSS elements */
:root {
	--blue:	#23415c;
	--white: #ffffff;
	--yellow: #ffc107;
	--grey: #f6f6f6;
	--lightgrey: #aaa;
	--darkergrey: #A0A0A0;
	--black: #000000;
	--red: #D50006;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 2.5rem;
	font-weight: 900;
}

h2 {
	font-size: 1.7rem;
	font-weight: 800;
}

h3, h4 {
	font-size: 1.4rem;
	font-weight: 700;
}

h5 {
	font-size: 1.2rem;
	font-weight: 500;
}

p {
	font-size: 1.3rem;
} 

th {
	font-size: 1.2rem;
	padding: 2% 0.5% !important;
}

td {
	font-size: 1.2rem;
	padding: 2% !important;
}

/* ----------------------------------- Navigation */

.navbar {
	min-height: 5rem;
	display: flex;
	justify-content: space-between;
}

.navbar-nav {
 	width: 80%;
}

.nav-item {
	flex: 0 0 33%;
}

.nav-link {
	font-size: 1.2rem !important;
	color: black !important;
	font-weight: 900 !important;
}

.badge {
	font-size: 0.7rem;
	color: var(--white) !important;
}

/* ----------------------------------- Home and Titel */

#home {
	height: 50%;
	padding: 3% 0 8% 0;
	background-color: var(--grey);
	margin-bottom: -10vw;
	overflow: visible;
	z-index: 5;
}


#home h1, h2 {
	width: 40%;
	margin: 2% auto;
}

#home p {
	width: 40% !important; 
	margin: 2% auto !important;
}

/* ----------------------------------- Video */

.videocontainer {
	width: 70%;
	margin: 0 auto;
}

.video {
	margin: 5% 0;
	display: inline-block;
	border: 5px solid var(--white);
	-webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -khtml-border-radius: 35px;
	-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
}

.video iframe {
	-webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -khtml-border-radius: 35px;
    vertical-align: middle;
}



.videocontainer h2 {
	width: 100% !important;
	margin: 10% 0 1% 0 !important;
}

.videocontainer p {
	width: 100% !important;
	margin: 0 0 5% 0 !important;
}

.videocontainer button {
	margin-top: 1.5%;
}

/* ----------------------------------- Call to Action */


.interesseflex {
	display: flex;
	align-content: stretch;
	margin: 6% 0 !important;
}


.interesseflex-item {
	flex: 0 0 49%;
	padding: 4% 5%; 
	margin: 0 2%;
	background-color: var(--red);
    color: var(--white);
}

#interesse {
	display: table-cell;
    vertical-align: middle;
    opacity: 0.7;

}

#interesse p {
	width: 100% !important;
	font-size: 3rem !important;
	font-weight: 900 !important;
}

#leadform {
	opacity: 0.7;

}

#leadform:hover {
	opacity: 1;
	-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
}


#leadform .btn {
	color: var(--black) !important;
	background-color: var(--yellow) !important;
}

#leadform h3 {
	width: 100% !important;
}

/* ----------------------------------- Hochschule */

.hochschule-ueberblick h2 {
	width: 100% !important;
}

.hochschule-ueberblick p {
	width: 100% !important;
}

.flex-item-hochschule {
	flex: 0 0 100%;
	margin: 2% auto 0 auto !important;
	padding: 0 5% 4% 5% !important;
}

/* ----------------------------------- Hochschule Zahlen */

.boxen {
	margin: 0 0 5% 0 !important;

}

.flex {
	display: flex;
}

.flex-item {
	flex: 0 0 50%;
	background: var(--white);
	padding: 4% 6%; 
	margin: 0 2%;
	border-radius: 40px;
	-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	
}

.flex-item p {
	width: 100% !important;
}

.flex-item h3 {
	color: var(--black);
	font-size: 1.2rem !important;
}


.bewertungen {
	margin: 0 2% !important;
}

/* ----------------------------------- Digital Business */

.home1 {
	padding: 5% 0 2% 0 !important;
}

.home1-flex-item {
	flex: 0 0 60%;
	background: var(--white);
	margin: 0 2%;
}

.home1-flex-item-img {
	flex: 0 0 40%;
}

.home1 h1 {
	font-size: 1.8rem !important;
	padding: 0 5%;
	width: 100% !important;
}

.home1 p {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 5% 4% 5% !important;
}

.home1 img {
	width: 100%;
}

/* ----------------------------------- Kontaktformular */

.contact .flex-item {
	flex: 0 0 50%;
	margin: 0 auto;
	background-color: var(--red);
	color: var(--white);
	border: 4px solid var(--white);
}

.contact {
	padding: 3% 0 0 0;
	background-color: var(--grey);
	background-image:
	linear-gradient(45deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%),

	linear-gradient(135deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%)
	;
	background-size: 1rem 1rem;

}

.contact h2 {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

.contact p {
	margin: 0 !important;
	padding: 2% 0 !important;
}

/* ----------------------------------- Video Bottom */
.belowvideo {
	width: 50%;
	margin: 0 auto !important;
}

.belowvideo-element {
	border: 5px solid var(--white);
	-webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -khtml-border-radius: 35px;
	-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
}

.belowvideo-element iframe {
	-webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -khtml-border-radius: 35px;
    vertical-align: middle;
}

.video-bottom {
	padding: 3% 0;
	background-color: var(--grey);
	background-image:
	linear-gradient(45deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%),

	linear-gradient(135deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%)
	;
	background-size: 1rem 1rem;
}


/* ----------------------------------- Footer */

.footer-flex {
	display: flex;
	justify-content: center;
}

.footer-flex-item {
	flex: 0 0 40%;
}

footer {
	padding: 3% 0;

}

/* ----------------------------------- Social Icons */

.social a {
	font-size: 1.7rem;
	margin: 0 3% 0 0;
}

.fa-facebook {
	color: #3b5998;
}

.fa-google {
	color: #4285f4;
}

.fa-twitter {
	color: #00aced;
}

.fa-linkedin {
	color: #007bb5;
}

.fa-youtube {
	color: #bb0000;
}

.fa-instagram {
	color: #C13584;
}

/* ----------------------------------- Social Icons END */
