
/* ----------------------------------- Responsive 1024px Tablet*/
@media (max-width: 1024px){


/* ----------------------------------- Tablet Main CSS elements */

	.navbar {
		display: flex;
		justify-content: space-between;
}

	.navbar-nav {
 		width: 100%;
}

	#home {
		padding: 3% 3% 8% 3%;
		background-color: var(--white);
}

	#home h1, h2 {
		width: 100% !important;
}


	#home p {
		width: 100% !important;		
}

	.videocontainer {
		width: 100%;
		margin: 0 auto;
}

	.interesseflex {
		flex-wrap: wrap;
		margin: 6% 0 !important;
}

	.interesseflex-item {
		flex: 0 0 100%;
		padding: 4% 5%; 
		margin: 0;
		background-color: var(--red);
	    color: var(--white);
	}


/* ----------------------------------- Hochschule */

	.flex {
		display: flex;
		flex-wrap: nowrap;
		justify-content: none;
}

	.flex-item-hochschule {
		flex: 0 0 100%;
		margin: 2% 0 !important;
		padding: 2% 0 !important;
}
	.hochschule-ueberblick h2 {
		padding: 1% 0;
		margin: 0;
}

	.hochschule-ueberblick p {
		margin: 0;
	}

/* ----------------------------------- Hochschule Zahlen */

	.flex-item {
		flex: 0 0 48%;
		margin: 0 0.5%;
		
	}

/* ----------------------------------- Digital Business */

	.home1 h3 {
		padding: 0;
		width: 100% !important;
}

	.home1 p {
		width: 100% !important;
		padding: 0 !important;
	}

	.home1-flex-item {
		flex: 0 0 58%;
		background: var(--white);
		margin: 0 2%;
}

	.home1-flex-item-img {
		flex: 0 0 38%;
	}


	/* ----------------------------------- Kontaktformular */
	.contact .flex-item {
		flex: 0 0 95%;
		margin: 2%;

}
	/* ----------------------------------- Video Bottom */
	.belowvideo {
		width: 95%;
		margin: 2% !important;
}


/* ----------------------------------- Responsive 992px Tablet small*/
@media (max-width: 992px){
	
	#home h1, h2 {
		width: 100%;
}

	#home p {
		width: 100% !important;
}

	.videocontainer {
		width: 100%;
		margin: 0 auto;
}

	.interesseflex {
		flex-wrap: wrap;
		margin: 6% 0 !important;
}

	.interesseflex-item {
		flex: 0 0 100%;
		padding: 4% 5%; 
		margin: 0;
		background-color: var(--red);
	    color: var(--white);
	}


/* ----------------------------------- Hochschule */

	.flex {
		display: flex;
		flex-wrap: nowrap;
		justify-content: none;
}

	.flex-item-hochschule {
		flex: 0 0 100%;
		margin: 2% 0 !important;
		padding: 2% 0 !important;
}
	.hochschule-ueberblick h2 {
		padding: 1% 0 !important;
		margin: 0;
}

	.hochschule-ueberblick p {
		margin: 0;
	}

/* ----------------------------------- Digital Business */
	.home1 h3 {
		padding: 0;
		width: 100% !important;
}

	.home1 p {
		width: 100% !important;
		padding: 0 !important;
	}



	/* ----------------------------------- Kontaktformular */
	.contact .flex-item {
		flex: 0 0 100%;
		margin: 3%;

}
	/* ----------------------------------- Video Bottom */
	.belowvideo {
		width: 100%;
}



/* ----------------------------------- Responsive 768px Mobile*/
@media (max-width: 768px){
/* ----------------------------------- Mobile Main CSS elements */

	html, body {
		left: 0;
    	top: 0;
    }

	h1 {
	font-size: 2.3rem !important;
	font-weight: 900;
}

	h2 {
		font-size: 1.75rem !important;
		font-weight: 800;
	}

	h3, h4 {
		font-size: 1.4rem !important;
		font-weight: 700;
}

	h5 {
		font-size: 1.3rem !important;
		font-weight: 500 !important;
	}


	p {
		font-size: 1.1rem !important;
	}

	th {
		font-size: 1rem;
		padding: 2% !important;
		margin: 0.2%;
}

	td {
		margin-left: 1px;
		font-size: 1rem;
	}

/* ----------------------------------- Home and Titel */

	#home {
		background-color: var(--white);
		
	}

	#home h1, h2 {
		width: 100%;
		margin: 2% 0;
		padding: 2% 0;
}


	#home p {
		width: 100% !important; 
		margin: 2% 0 !important;
		padding: 2% 0 !important;
}

/* ----------------------------------- Video */

	.videocontainer {
		width: 100%;
		margin: 2% 0;
}

	.videocontainer h2 {
		padding: 2%;
	}

	.videocontainer p {
		padding: 2% !important;
}


/* ----------------------------------- Zulassung, Aufbau, Weitere Informationen */

	.flexmodule-container {
		display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	   	flex-wrap: wrap;
	}

	.flexmodule-item {
		flex: 0 0 100%;
		padding: 2% 2%;
		margin: 0 0.25%;
		border: 0.25px solid var(--grey);
		-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
		-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
		box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
		background-color: var(--blue);
		color: white;

	}

	.card-body p {
		padding: 0 !important;
	}

/* ----------------------------------- Call to Action */

	.interesseflex {
		display: flex;
		flex-wrap: wrap;
		margin: 0 !important;
}


	.interesseflex-item {
		flex: 0 0 100%;
		padding: 2%; 
		margin: 0;
		background-color: var(--red);
	    color: var(--white);
}

	#interesse p {
		font-size: 2rem !important;
		font-weight: 700 !important;
}



/* ----------------------------------- Hochschule */

	.flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
}

	.flex-item-hochschule {
		flex: 0 0 100%;
		margin: 2% 0 0 0 !important;
		padding: 2% !important;
}
	.hochschule-ueberblick h2 {
		padding: 1% 0 !important;
}


/* ----------------------------------- Hochschule Zahlen */

	.flex-item {
		flex: 0 0 100%;
		margin: 1% 0;
	}

/* ----------------------------------- Digital Business */

	.home1-flex-item {
		flex: 0 0 100%;
		padding: 2% !important;

	}

	.home1-flex-item-img {
		flex: 0 0 100%;
	}

	.home1 h3 {
		font-size: 1.8rem !important;
		padding: 2% 2% 0 2%;
		width: 100% !important;
}

	.home1 p {
		width: 100% !important;
		padding: 2% !important;
	}

/* ----------------------------------- Kontaktformular */
	.contact .flex-item {
		flex: 0 0 90%;
		margin: 3%;

}
	/* ----------------------------------- Video Bottom */
	.belowvideo {
		width: 90%;
		padding: 2%;
}

/* ----------------------------------- Footer */
	.footer-flex-item {
		flex: 0 0 50%;
		padding: 2%;
	}

	footer {
		padding: 5% 0;

	}

	footer p {
		font-size: 1rem !important;
	}

/* ----------------------------------- Social Icons */
	.social a {
		font-size: 1.7rem;
		margin: 0 4% 0 0;
}