
/* ----------------------------------- Responsive 1024px Tablet*/
@media (max-width: 1024px){

/* ----------------------------------- Tablet Main CSS elements */



/* ----------------------------------- Responsive 992px Tablet small*/
@media (max-width: 992px){
	




/* ----------------------------------- Responsive 768px Mobile*/
@media (max-width: 768px){
/* ----------------------------------- Mobile Main CSS elements */

	.container {
		padding: 3%;
	}

	html, body {
		left: 0;
    	top: 0;
    }

	h1 {
	font-size: 2.3rem !important;
	font-weight: 900;
}

	h2 {
		font-size: 1.75rem !important;
		font-weight: 800;
	}

	h3, h4 {
		font-size: 1.4rem !important;
		font-weight: 700;
}

	h5 {
		font-size: 1.3rem !important;
		font-weight: 500 !important;
	}


	p {
		font-size: 1.1rem !important;
	}


	.social a {
		font-size: 1.5em;
	}


	#home {
		background-color: var(--white);
		
	}

	#home h1 {
	font-size: 1.5rem !important;
}

	#home h1, h2, p {
	width: 100% !important;
	
}

	#home p {
		padding-bottom: 0 !important;
	}
